UrenregistratieApplicatie/UrenregistratieClient/Connected Services/UrenregistratieService/item1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8733/Design_Time_Addresses/UrenregistratieService/Urenregistratieservice/?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import schemaLocation="http://localhost:8733/Design_Time_Addresses/UrenregistratieService/Urenregistratieservice/?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/UrenregistratieService" />
  <xs:element name="Login">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="gebruikersnaam" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="wachtwoord" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoginResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="LoginResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Registreer">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="gebruikersnaam" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegistreerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RegistreerResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TakenOphalen">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="gebruikersnaam" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="wachtwoord" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TakenOphalenResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="TakenOphalenResult" nillable="true" type="q1:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GewerkteUrenOphalen">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="taak" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="gebruikersnaam" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="wachtwoord" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GewerkteUrenOphalenResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GewerkteUrenOphalenResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GebruikerOphalen">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="gebruikersnaam" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GebruikerOphalenResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/UrenregistratieService" minOccurs="0" name="GebruikerOphalenResult" nillable="true" type="q2:UserSet" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UrenOpslaan">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="taak" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="uren" type="xs:int" />
        <xs:element minOccurs="0" name="gebruikersnaam" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="wachtwoord" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UrenOpslaanResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UrenOpslaanResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TaakVerwijderen">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="taak" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="gebruikersnaam" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="wachtwoord" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TaakVerwijderenResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="TaakVerwijderenResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TaakOphalen">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="taak" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="gebruikersnaam" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TaakOphalenResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/UrenregistratieService" minOccurs="0" name="TaakOphalenResult" nillable="true" type="q3:TaakSet" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>