UrenregistratieApplicatie/UrenregistratieClient/Connected Services/UrenregistratieService/item3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/UrenregistratieService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/UrenregistratieService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="UserSet">
    <xs:sequence>
      <xs:element minOccurs="0" name="Gebruikersnaam" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProjectProjectId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="ProjectSet" nillable="true" type="tns:ProjectSet" />
      <xs:element minOccurs="0" name="TaakSet" nillable="true" type="tns:ArrayOfTaakSet" />
      <xs:element minOccurs="0" name="UserId" type="xs:int" />
      <xs:element minOccurs="0" name="Wachtwoord" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UserSet" nillable="true" type="tns:UserSet" />
  <xs:complexType name="ProjectSet">
    <xs:sequence>
      <xs:element minOccurs="0" name="Naam" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProjectId" type="xs:int" />
      <xs:element minOccurs="0" name="TaakSet" nillable="true" type="tns:ArrayOfTaakSet" />
      <xs:element minOccurs="0" name="UserSet" nillable="true" type="tns:ArrayOfUserSet" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ProjectSet" nillable="true" type="tns:ProjectSet" />
  <xs:complexType name="ArrayOfTaakSet">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TaakSet" nillable="true" type="tns:TaakSet" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTaakSet" nillable="true" type="tns:ArrayOfTaakSet" />
  <xs:complexType name="TaakSet">
    <xs:sequence>
      <xs:element minOccurs="0" name="ProjectProjectId" type="xs:int" />
      <xs:element minOccurs="0" name="ProjectSet" nillable="true" type="tns:ProjectSet" />
      <xs:element minOccurs="0" name="TaakId" type="xs:int" />
      <xs:element minOccurs="0" name="Type" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Uren" type="xs:int" />
      <xs:element minOccurs="0" name="UserSet" nillable="true" type="tns:UserSet" />
      <xs:element minOccurs="0" name="UserUserId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TaakSet" nillable="true" type="tns:TaakSet" />
  <xs:complexType name="ArrayOfUserSet">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="UserSet" nillable="true" type="tns:UserSet" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfUserSet" nillable="true" type="tns:ArrayOfUserSet" />
</xs:schema>